@import url(http://fonts.googleapis.com/css?family=Play);

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

body {
    margin: 0px;
    height: 100%;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    color: #3af;
    font-family: "Play";
    background: #111;
}

audio {
    display: none;
}

#visualizer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.wow {
    position: relative;
    height: 100%;
    width: 100%;
}

.poop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 15%;
    margin: auto;
    width: 15%;
}

.center {
    position: fixed;
    width: 500px;
    height: 200px;
    margin: 5% auto;
    left: 0;
    right: 0;
}

@keyframes NiceMeme {
    from {
        color: #33aaff;
    }

    to {
        color: white;
    }
}

.active {
    animation-name: NiceMeme;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.button {
    background-color: black;
    color: #33aaff;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #33aaff;
}

    .button:hover {
        background-color: #33aaff;
        color: white;
    }

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.blah {
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 640px;
    height: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.close {
    color: white;
    float: right;
    padding: 0px 5px;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

.modal-header {
    padding: 2px 16px;
    background-color: black;
    color: #33aaff;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #2C2F33;
    color: white;
}

.radio {
    position: fixed;
    color: #33aaff;
    font-size: 400%;
}

.click {
    cursor: pointer;
}

.volume-thing {
    cursor: pointer;
    padding: 0px 5px;
}
